<div class="row">
	<div class="session">
		<div class="session-login">
			<%= image_tag "horistagram_logo_lg.png", class:"img_center" %>
			<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
				<ul>
					<li><%= f.label :email %></li>
					<li><%= f.email_field :email, class:"form-control"  %></li>
					<li><%= f.label :password %></li>
					<li><%= f.password_field :password, class:"form-control" %></li>
					<li><%= f.submit "login", class:"btn btn-primary" %></li>
				</ul>
			<% end %>
			<p>または</p>
			<p><a href="#" class="btn-square">Fakebookでログイン</a></p>
		</div>
		<div class="session-signin">
			<p>アカウントをお持ちでないですか？<%= link_to "SignIn", new_user_path %></p>
		</div>
		<div class="user-bottom">
			<%= image_tag "apple_banner_dl.png", class:"dl-banner" %>
			<%= image_tag "android_banner_dl.png", class:"dl-banner" %>
		</div>
	</div>
</div>