<div class="row">
	<div class="col-md-12">
		<section class="profile-body">
			<%= image_tag(@user.user_icon.url) %>
			<ul class="profile-element">
				<li><%= @user.name %></li>
				<li><%= @user.email %></li>
				<li>
					<%= link_to edit_user_path(@user.id) do %>
						<i class="fas fa-pen-square"></i>
					<% end %>
				</li>
			</ul>
		</section>
		<figure class="profile-images">
			<% @posts.each do |post| %>
					<%= image_tag (post.image.url) %>
			<% end%>
		</figure>
	</div>
</div>