<div class="posted-show">
	<%= form_with(model: @post, url: choose_new_or_edit, local: true) do |f| %>
		<% if @post.errors.any? %>
			<div id="error_explanation">
				<span><%= @post.errors.count %>erros.</span>
				<ul>
					<% @post.errors.full_messages.each do |m| %>
						<li id='error_message'><%= m %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<ul>
			<li><%= f.label :content %></li>
			<li><%= f.text_area :content %></li>
			<li><%= f.label :image %></li>
			<li><%= image_tag(@post.image.url) %></li>
			<li><%= f.file_field :image %></li>
			<li><%= f.hidden_field :image_cache %></li>
			<li><%= f.check_box :remove_image %>remove_image</li>
			<li><%= f.submit '投稿'%>
		</ul>
	<% end %>
	<%= link_to '戻る', posts_path %>
</div>