
<div class="posted-show">
	<ul>
		<%= form_with(model: @post, local: true) do |f| %>
			<li><%= @post.content %></li>
			<li><%= f.hidden_field :content %></li>
			<li><%= image_tag(@post.image.url) %></li>
			<li><%= f.hidden_field :image_cache %></li>
			<p>
				<%= f.submit "投稿" %>
				<%= f.submit "戻る" %>
			</p>
		<% end %>
	</ul>
</div>