<div class="row">
	<div class="col-md-8">
		<main class="posted-field">
			<% @posts.each do |post| %>
				<nav class="posted-nav">
					<%= link_to "show", post_path(post.id) %>
					<%= link_to "edit", edit_post_path(post.id) %>
					<%= link_to "delete", post_path(post.id), method: :delete, data:{confirm: "delete？"} %>
				</nav>
				<section class="posted-user">
					<%= image_tag "#{post.user.user_icon}", class:"posted-user-icon" %>
					<%= "#{post.user.name}" %>
				</section>
				<%= image_tag "#{post.image}", class:"posted-pict" %>
				<section class="posted-content">
					<%= "#{post.content}" %>
				</section>
			<% end %>
		</main>
	</div>
	<aside class="col-md-4 users-all" id="hide_under_md">
		<% @users.each do |user| %>
			<ul>
				<li>
					<%= image_tag "#{user.user_icon}", class:"posted-user-icon" %>
					<%= "#{user.name}" %>
				</li>
			</ul>
		<% end %>
	</aside>
</div>